@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;;
}

html, body{
  width: 100%;
  height: 100%;
  background-image: url('./img/formBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.form-group {
  width: 30%;
  height: 88%;
  background-color: #E3EBEF;
  background: linear-gradient(#9BC59D, #D0FCB3);
  border: 2px solid #715E29;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: auto;
  box-sizing: border-box;
}

#form-heading {
  background-color: #D0FCB3;
  text-align: center;
  border: 2px solid #312921;
  border-radius: 27px;
  margin: 0.5rem 0;
  color: black;
  padding: 0rem 0.5rem;
  margin: 0rem 0.5rem;
}

#form-fillings {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}
#form-fillings > input, #form-fillings > select, #form-fillings > #text-box-container > textarea {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0.5rem;
  text-align: center;
  border: 2px solid green;
  border-radius: 8px;
}
#text-box-container {
 flex: 1; /* Use flex to allow the container to grow and take remaining space */
  width: 100%;
  overflow: hidden;
}
#form-fillings textarea {
  resize: none;
  align-self: center;
}

#form-button {
  background-color: green;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  align-self: center;
  margin-top: auto; /* Push the button to the bottom of the container */
}